* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0E0D0D;
  text-align: center;
  color: whitesmoke;
}

.bg-VJstyle {
  background-color: #0E0D0D;
}
.bg-VJstyle li a:hover {
  background-color: #1DCE00;
  border-style: hidden;
  color: black;
}
.bg-VJstyle li a:active {
  background-color: rgba(27, 206, 0, 0.5803921569);
  border-style: hidden;
  color: black;
}

.btn-bd-custom {
  background-color: #0E0D0D;
  border-style: hidden;
  color: whitesmoke;
}

.btn-bd-custom:hover {
  background-color: #1DCE00;
  border-style: hidden;
  color: black;
}

.btn-bd-custom:active {
  background-color: rgba(27, 206, 0, 0.5803921569);
  border-style: hidden;
  color: black;
}

header nav {
  display: block;
  margin-top: 10px;
}
header nav ul {
  list-style: none;
  padding: 0;
}

main #titulo {
  color: aliceblue;
}
main div {
  display: block;
  border: 1px solid #1DCE00;
}
main nav section {
  margin: 0 15px;
  display: grid;
  grid-template-areas: "insta insta insta insta" "face face face face" "twitter twitter twitter twitter" "gmail gmail gmail gmail";
}
main nav section .insta {
  grid-area: insta;
}
main nav section .face {
  grid-area: face;
}
main nav section .twitter {
  grid-area: twitter;
}
main nav section .gmail {
  grid-area: gmail;
}
main nav section div {
  list-style: none;
  justify-content: center;
}
main nav section div a button img {
  width: 5rem;
}
main nav section div a .instabutton {
  background-color: #E5009F;
  border-style: ridge;
  color: whitesmoke;
}
main nav section div a .facebutton {
  background-color: #0866FF;
  border-style: ridge;
  color: whitesmoke;
}
main nav section div a .twitterbutton {
  background-color: black;
  border-style: ridge;
  color: whitesmoke;
}
main nav section div a .gmailbutton {
  background-color: #d1d1d1;
  border-style: ridge;
  color: whitesmoke;
}
main nav .productoslista {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.1rem;
  list-style: none;
}
main nav .productoslista .card {
  background-color: #0E0D0D;
  color: whitesmoke;
}
main {
  /*.listadecontacto{
      div{
         list-style: none;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-evenly;
          margin: 20px;
          li{
              position: relative;
              padding:5px;
              width:fit-content;
          } 
      }
  }*/
}
main .topvendido li img {
  width: 15rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
footer nav {
  display: block;
  margin-top: 10px;
  grid-column: 1/4;
}
footer nav ul {
  list-style: none;
  padding: 0;
}
footer nav ul li {
  display: inline-block;
  margin: 0 15px;
}
footer nav ul li a {
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  color: whitesmoke;
}
footer nav ul li a:hover {
  background-color: #1DCE00;
  border-style: hidden;
  color: black;
}
footer nav ul li a:active {
  background-color: rgba(27, 206, 0, 0.5803921569);
  border-style: hidden;
  color: black;
}
footer .disclaimer1 {
  grid-column: 1/4;
}
footer .redessociales {
  grid-column: 4;
}

@media (max-width: 1024px) {
  header nav div img {
    width: 50%;
  }
  header nav div {
    justify-content: space-evenly;
  }
  footer .redessociales a img {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  footer .redessociales a img {
    width: 6%;
  }
  main .foda {
    display: grid;
    grid-template-areas: "fortaleza fortaleza oportunidad oportunidad" "fortaleza fortaleza oportunidad oportunidad" "debilidad debilidad amenaza amenaza" "debilidad debilidad amenaza amenaza";
  }
  main .foda .fortaleza {
    grid-area: fortaleza;
  }
  main .foda .oportunidad {
    grid-area: oportunidad;
  }
  main .foda .debilidades {
    grid-area: debilidad;
  }
  main .foda .amenazas {
    grid-area: amenaza;
  }
  main nav section {
    display: grid;
    grid-template-areas: "insta insta  face face" "insta insta face face" "twitter twitter gmail gmail" "twitter twitter gmail gmail";
  }
  main .productoslista {
    padding: 5px;
    justify-content: space-between;
    padding-left: 0rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
