@media (min-width: 1024px){
    footer .redessociales a img{
        width: 6%;
    }
    main{
        .foda{
            display: grid;
            grid-template-areas: 
                "fortaleza fortaleza oportunidad oportunidad"
                "fortaleza fortaleza oportunidad oportunidad"
                "debilidad debilidad amenaza amenaza"
                "debilidad debilidad amenaza amenaza"
            ;
            .fortaleza{
                grid-area: fortaleza;
            }
            .oportunidad{
                grid-area: oportunidad;
            }
            .debilidades{
                grid-area: debilidad;
            }
            .amenazas{
                grid-area: amenaza;
            }
        }
        nav{
            section{
                display: grid;
                grid-template-areas: 
                    "insta insta  face face"
                    "insta insta face face"
                    "twitter twitter gmail gmail"
                    "twitter twitter gmail gmail"
                    ;
            }
        }
        .productoslista{  
            padding: 5px;
            justify-content: space-between;
            padding-left: 0rem;
       } 
    }
}