@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

main{
    #titulo{
        color:aliceblue;
    }
    div{
        display: block;
        border: 1px solid #1DCE00;
    }
    nav{
        section{
            margin: 0 15px;
                display: grid;
                grid-template-areas: 
                    "insta insta insta insta"
                    "face face face face"
                    "twitter twitter twitter twitter"
                    "gmail gmail gmail gmail"
                    ;

            .insta{
                grid-area: insta;
            }
            .face{
                grid-area: face;
            }
            .twitter{
                grid-area: twitter;
            }
            .gmail{
                grid-area: gmail;
            }
            div{
                list-style: none;
                justify-content: center;
                a{
                    button{
                        img{
                            width: 5rem;
                        }
                    }
                    .instabutton{
                        
                        @include button($color-instagram,ridge,$color-tipo)
                    }
                    .facebutton{
                        @include button($color-facebook,ridge,$color-tipo)
                    }
                    .twitterbutton{
                        @include button(black,ridge,$color-tipo)
                    }
                    .gmailbutton{
                        @include button($color-gmail,ridge,$color-tipo)
                    }
                }
            }
        }
       .productoslista{
            li{
                display:flex;
                flex-wrap: wrap;
                padding: 5px;
                list-style: none;
                justify-content: space-between;
                .card{
                    background-color: $color-primario;
                    color: whitesmoke;   
                }
            }
       } 
    }
    /*.listadecontacto{
        div{
           list-style: none;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            margin: 20px;
            li{
                position: relative;
                padding:5px;
                width:fit-content;
            } 
        }
    }*/
    .topvendido{
        li{
            img{
                width: 15rem;
            }
        }
    }
}