@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

main{
    #titulo{
        color:aliceblue;
    }
    div{
        display: block;
        border: 1px solid #1DCE00;
    }
    nav{
        div{
            li{
                list-style: none;
                margin: 0 15px;
                display: grid;
                grid-template-areas: 
                    "instabutton instabutton instabutton instabutton"
                    "facebutton facebutton facebutton facebutton"
                    "twitterbutton twitterbutton twitterbutton twitterbutton"
                    "gmailbutton gmailbutton gmailbutton gmailbutton"
                    ;
                justify-content: center;
                a{
                    button{
                        img{
                            width: 10%;
                        }
                    }
                    .instabutton{
                        grid-area: instabutton;
                        @include button($color-instagram,ridge,$color-tipo)
                    }
                    .facebutton{
                         grid-area: facebutton;
                        @include button($color-facebook,ridge,$color-tipo)
                    }
                    .twitterbutton{
                         grid-area: twitterbutton;
                        @include button(black,ridge,$color-tipo)
                    }
                    .gmailbutton{
                         grid-area: gmailbutton;
                        @include button($color-gmail,ridge,$color-tipo)
                    }
                }
            }
        }
       .productoslista{
            li{
                display:flex;
                flex-wrap: wrap;
                padding: 5px;
                list-style: none;
                justify-content: space-between;
                .card{
                    background-color: $color-primario;
                    color: whitesmoke;   
                }
            }
       } 
    }
    /*.listadecontacto{
        div{
           list-style: none;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            margin: 20px;
            li{
                position: relative;
                padding:5px;
                width:fit-content;
            } 
        }
    }*/
}