@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

.bg-VJstyle{
    background-color: $color-primario;
    li{
        a:hover{
            @include button($color-secundario,hidden,black)
        }
        a:active{
            @include button($color-terciario,hidden,black)
        }
    }
}

.btn-bd-custom{
    @include button($color-primario,hidden,whitesmoke)
}
.btn-bd-custom:hover {
    @include button($color-secundario,hidden,black)
}
.btn-bd-custom:active {
    @include button($color-terciario,hidden,black)
}